.Profile{
  background-color: #FFF;
  width: 100%;
  text-align: center;
  font-family: Tahoma;
  font-size: calc(10px + 2vmin);
  padding: 30px;
}

.mystars{
  font-size: 50px;
}

.header{
  margin-top: -40px;
}

.profileImages{
  border-radius: 50px;
}